NeXus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://definition.nexusformat.org/schema/@NXDL_RELEASE@" 
	xmlns:nxsd="http://definition.nexusformat.org/schema/@NXDL_RELEASE@"
	xmlns:nxdl="http://definition.nexusformat.org/nxdl/@NXDL_RELEASE@">
<!--
########### SVN repository information ###################
# $LastChangedDate$
# $LastChangedBy$
# $LastChangedRevision$
# $HeadURL$
########### SVN repository information ###################
-->
<xs:annotation>
<xs:documentation>
..
	NeXus - Neutron and X-ray Common Data Format
	 
	Copyright (C) 2008-2012 NeXus International Advisory Committee (NIAC)
	 
	This library is free software; you can redistribute it and/or
	modify it under the terms of the GNU Lesser General Public
	License as published by the Free Software Foundation; either
	version 3 of the License, or (at your option) any later version.
	
	This library is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
	Lesser General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public
	License along with this library; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
	
	For further information, see http://www.nexusformat.org
			

This file provides basic information for validating NeXus data files (but not NXDL), including:

* Basic data types (NX_FLOAT32, ISO8601 etc.) are all defined in NeXus.xsd along with enumerations
    such as nxsd:validShape

* Base classes are each defined in a separate NXDL file (e.g. base_classes/NXentry.xxdl.xml) 
    These files are constructed using the rules of NXDL.  

* Instrument and application definitions are created in separate NXDL files

* Some object-orientated features have been added as they make definition writing easier and avoid duplication. For example:
	- an abstract NXchopper.xsd has been created that is inherited by NXdisc_chopper.xsd and NXfermi_chopper.xsd
	- all NeXus object inherit from nxsd:classBaseType (it just has a "name" attribute that all classes have)
	- beamline components inherit from nxsd:componentType that contains "distance" and NXgeometry members etc.
  
</xs:documentation>
</xs:annotation>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<!-- 
		Used for allowed names of elements and attributes 
		Need to be restricted to valid program variable names 
	-->
	<xs:simpleType name="validName">
		<xs:annotation>  
			   <xs:documentation>  
				  Used for allowed names of elements and attributes.  
				  Need to be restricted to valid program variable names.  
				  Note:  This means no "-" or "." characters can be allowed and
				  you cannot start with a number.
				  HDF4 had a 64 character limit on names 
				  (possibly including NULL) and NeXus enforces this 
				  via the NX_MAXNAMELEN variable.
				</xs:documentation>  
		</xs:annotation>  
	  <xs:restriction base="xs:token">
		<xs:maxLength value="63" />   <!-- enforce via NX_MAXNAMELEN -->
	    <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*" />
	  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="validTarget">
		<xs:annotation>
			<xs:documentation>
				This is a valid link target - currently it must be an absolute path
				made up of valid names with ``/`` character separating, but we may
				want to consider allowing ``..`` at some point.
				Must also consider use of name attribute in resolving link targets.
				
				::
				
					/NXentry/NXinstrument/analyzer:NXcrystal/ef
					/NXentry/NXinstrument/monochromator:NXcrystal/ei
					/NX_other

			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="xs:token">
			<xs:annotation>
				<xs:documentation>
					The HDF5 documentation (http://www.hdfgroup.org/HDF5/doc/UG/UG_frame09Groups.html)
					says "Note that relative path names in HDF5 do not employ the ``../`` notation, 
					the UNIX notation indicating a parent directory, to indicate a parent group."
					Thus, if we only consider the case of::
					
						class[:name]
						(/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+
					
					Note that HDF5 also permits relative path names, such as::
					
						GroupA/GroupB/Dataset1
					
					but this is not permitted in the pattern below.
				</xs:documentation>
			</xs:annotation>
			<xs:pattern value="(/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="validNXClassName">
		<xs:annotation>  
			   <xs:documentation>  
				  Used for allowed names of NX class types (e.g. NXdetector) 
				  not the instance (e.g. bank1) which is covered by validItemName.  
				</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="nxsd:validName">
					<xs:pattern value="NX.+"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- NX_FLOAT32 -->
	<xs:simpleType name="float32">
	  <xs:restriction base="xs:float" />
	</xs:simpleType>
	<xs:simpleType name="float32Attr">
	  <xs:restriction base="xs:string">
	    <xs:pattern value="NX_FLOAT32:.*" />
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float32Data">
	    <xs:list itemType="nxsd:float32" />
	</xs:simpleType>
	  
	<!-- NX_FLOAT64 -->
	<xs:simpleType name="float64">
	  <xs:restriction base="xs:double" />
	</xs:simpleType>
	<xs:simpleType name="float64Attr">
	  <xs:restriction base="xs:string">
	    <xs:pattern value="NX_FLOAT64:.*" />
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float64Data">
	  <xs:list itemType="nxsd:float64" />
	</xs:simpleType>

	<!-- NX_FLOAT -->
	<xs:simpleType name="float">
	  <xs:restriction base="xs:double" />
	</xs:simpleType>
	<xs:simpleType name="floatAttr">
	  <xs:restriction base="xs:string">
	    <xs:pattern value="NX_FLOAT(64|32):.*" />
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="floatData">
	  <xs:list itemType="nxsd:float" />
	</xs:simpleType>

	<!-- NX_INT64 -->
	<xs:simpleType name="int64">
		<xs:restriction base="xs:long" />
	</xs:simpleType>
	<xs:simpleType name="int64attr">
		<xs:restriction base="xs:string">
			<xs:pattern value="NX_INT64:[+\-]?\d+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="int64Data">
		<xs:list itemType="nxsd:int64" />
	</xs:simpleType>
	
	<!-- NX_INT32 -->
	<xs:simpleType name="int32">
	  <xs:restriction base="xs:int" />
	</xs:simpleType>
	<xs:simpleType name="int32attr">
	  <xs:restriction base="xs:string">
	    <xs:pattern value="NX_INT32:[+\-]?\d+" />
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="int32Data">
	  <xs:list itemType="nxsd:int32" />
	</xs:simpleType>

	<!-- NX_INT16 -->
	<xs:simpleType name="int16">
		<xs:restriction base="xs:int" />
	</xs:simpleType>
	<xs:simpleType name="int16attr">
		<xs:restriction base="xs:string">
			<xs:pattern value="NX_INT16:[+\-]?\d+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="int16Data">
		<xs:list itemType="nxsd:int16" />
	</xs:simpleType>

	<!-- NX_INT8 -->
	<xs:simpleType name="int8">
		<xs:restriction base="xs:int" />
	</xs:simpleType>
	<xs:simpleType name="int8attr">
		<xs:restriction base="xs:string">
			<xs:pattern value="NX_INT8:[+\-]?\d+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="int8Data">
		<xs:list itemType="nxsd:int8" />
	</xs:simpleType>
	
	<!-- NX_INT -->
	<xs:simpleType name="int">
		<xs:restriction base="xs:long" />
	</xs:simpleType>
	<xs:simpleType name="intAttr">
		<xs:restriction base="xs:string">
			<xs:pattern value="NX_INT(8|16|32|64):[+\-]?\d+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="intData">
		<xs:list itemType="nxsd:int" />
	</xs:simpleType>

	<!-- NX_CHAR -->
	<xs:simpleType name="char">
	  <xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="charAttr">
	  <xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="charData">
	  <xs:restriction base="xs:string" />
	</xs:simpleType>
	

	<!-- NX_CHAR holding an ISO 8601 date string -->
	<xs:simpleType name="ISO8601">
	  <xs:restriction base="xs:dateTime">
	    <!-- 
	    	may want to allow T or space here; 
	    	also trailing .* needs to be updated for correct time zone structure 
	    -->
		<xs:pattern value="\d\d\d\d-\d\d-\d\d[T ]\d\d:\d\d:\d\d.*" />
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO8601Attr">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Valid strings describing data types that can be contained in a NAPItype attribute -->
	<xs:simpleType name="NAPITypes">
	  <xs:restriction base="xs:string">
	  	<!--xs:pattern value="NX_(CHAR|FLOAT32|FLOAT64|INT8|INT16|INT32|INT64)\[.*\]" /--> 	
	  	<xs:pattern value="NX_(CHAR|FLOAT32|FLOAT64|INT8|INT16|INT32|INT64).*" /> 	
	  </xs:restriction>
	</xs:simpleType>

	<!-- valid units for various things -->
	
	<xs:simpleType name="unit">
		<xs:restriction base="nxsd:charAttr" />
	</xs:simpleType>
	
	<xs:simpleType name="lengthUnit">
		<xs:restriction base="nxsd:unit">
			<xs:enumeration value="metre" />	    
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="wavelengthUnit">
		<xs:restriction base="nxsd:unit">
			<xs:enumeration value="angstroms" />	    
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="timeUnit">
		<xs:restriction base="nxsd:unit">
			<xs:enumeration value="second" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="frequencyUnit">
		<xs:restriction base="nxsd:unit">
			<xs:enumeration value="hertz" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="angleUnit">
		<xs:restriction base="nxsd:unit">
			<xs:enumeration value="radian" />
			<xs:enumeration value="degree" />
		</xs:restriction>
	</xs:simpleType>
	

	<!-- Attributes of elements that are not classes i.e. that can contain floats, chars etc -->
	<xs:attributeGroup name="standardDataAttributes">
	  <xs:attribute name="units" type="nxsd:unit" />
	<!-- allow user defined attributes -->
	<xs:anyAttribute namespace="##any" processContents="lax" />
	</xs:attributeGroup>

	<!-- An NX_FLOAT64 item -->
	<xs:complexType name="float64DataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:float64Data">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_FLOAT64\[.*\]" /-->					
							<xs:pattern value="NX_FLOAT64.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- An NX_FLOAT32 item -->
	<xs:complexType name="float32DataType">
		<xs:annotation><xs:documentation>NX_FLOAT32</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nxsd:float32Data">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
				<xs:simpleType>
					<xs:restriction base="nxsd:NAPITypes">
						<!--xs:pattern value="NX_FLOAT32\[.*\]" /-->					
						<xs:pattern value="NX_FLOAT32.*" />					
					</xs:restriction>
				</xs:simpleType>	
			</xs:attribute>
		</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- An NX_FLOAT item -->
	<xs:complexType name="floatDataType">
		<xs:annotation><xs:documentation>NX_FLOAT</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nxsd:floatData">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
				<xs:simpleType>
					<xs:restriction base="nxsd:NAPITypes">
						<!--xs:pattern value="NX_FLOAT32\[.*\]" /-->					
						<xs:pattern value="NX_FLOAT(32|64).*" />					
					</xs:restriction>
				</xs:simpleType>	
			</xs:attribute>
		</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


	<!-- An NX_INT64 item -->
	<xs:complexType name="int64DataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:int64Data">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_INT64\[.*\]" /-->					
							<xs:pattern value="NX_INT64.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	
	<!-- An NX_INT32 item -->
	<xs:complexType name="int32DataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:int32Data">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_INT32\[.*\]" /-->					
							<xs:pattern value="NX_INT32.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- An NX_INT16 item -->
	<xs:complexType name="int16DataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:int16Data">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_INT16\[.*\]" /-->					
							<xs:pattern value="NX_INT16.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- An NX_INT8 item -->
	<xs:complexType name="int8DataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:int8Data">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_INT8\[.*\]" /-->					
							<xs:pattern value="NX_INT8.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- An NX_INT item -->
	<xs:complexType name="intDataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:intData">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_INT64\[.*\]" /-->					
							<xs:pattern value="NX_INT(8|16|32|64).*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- An NX_CHAR item -->
	<xs:complexType name="charDataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:charData">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_CHAR\[.*\]" /-->					
							<xs:pattern value="NX_CHAR.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- An NX_CHAR item that holds an ISO8601 timestamp -->
	<xs:complexType name="ISO8601DataType">
		<xs:simpleContent>
			<xs:extension base="nxsd:charData">
				<xs:attributeGroup ref="nxsd:standardDataAttributes" /> 
				<!-- xs:attribute name="name" use="prohibited" / -->
				<xs:attribute name="NAPItype" use="required" >
					<xs:simpleType>
						<xs:restriction base="nxsd:NAPITypes">
							<!--xs:pattern value="NX_CHAR\[.*\]" /-->					
							<xs:pattern value="NX_CHAR.*" />					
						</xs:restriction>
					</xs:simpleType>	
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- nxdl:NX_CHAR -->
	<xs:complexType name="NX_ISO8601">
		<xs:simpleContent>
			<xs:extension base="nxsd:ISO8601DataType" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="NX_DATE_TIME">
		<xs:simpleContent>
			<xs:extension base="nxsd:ISO8601DataType" />
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_CHAR">
		<xs:simpleContent>
			<xs:extension base="nxsd:charDataType" />
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_FLOAT">
		<xs:simpleContent>
			<xs:extension base="nxsd:floatDataType" />
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_INT">
		<xs:simpleContent>
			<xs:extension base="nxsd:intDataType" />
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_UINT">
		<xs:simpleContent>
			<xs:extension base="nxsd:intDataType" />  <!-- need to do uint properly -->
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_POSINT">
		<xs:simpleContent>
			<xs:extension base="nxsd:intDataType" />  <!-- need to do pos properly -->
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_NUMBER">
		<xs:simpleContent>
			<xs:extension base="nxsd:floatDataType" />  <!-- need to do pos properly -->
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NX_BINARY">
		<xs:simpleContent>
			<xs:extension base="nxsd:charDataType" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="NX_BOOLEAN">
		<xs:simpleContent>
			<xs:extension base="nxsd:intDataType" />  <!-- need to do pos properly -->
		</xs:simpleContent>
	</xs:complexType>

<!--
	<xs:complexType name="floatLengthDataType">
		<xs:simpleContent>
			<xs:restriction base="nxsd:floatDataType">
				<xs:attribute name="units" use="required" type="nxsd:lengthUnit" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
		
	<xs:complexType name="floatWavelengthDataType">
		<xs:simpleContent>
			<xs:restriction base="nxsd:floatDataType">
				<xs:attribute name="units" use="required" type="nxsd:wavelengthUnit" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	
	
	<xs:complexType name="floatAngleDataType">
		<xs:simpleContent>
			<xs:restriction base="nxsd:floatDataType">
				<xs:attribute name="units" use="required" type="nxsd:angleUnit" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="floatFrequencyDataType">
		<xs:simpleContent>
			<xs:restriction base="nxsd:floatDataType">
				<xs:attribute name="units" use="required" type="nxsd:frequencyUnit" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
-->	
	<!-- link -->
	<xs:complexType name="NAPIlinkType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="target" use="required" type="nxsd:validTarget" />   <!-- Could use key / keyref  to validate links -->
				<xs:attribute name="name" type="nxsd:validName"/>   <!-- Could use key / keyref  to validate links -->
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="classSuperBaseType">
		<xs:sequence maxOccurs="unbounded" >
			<xs:element  type="nxsd:NAPIlinkType" name="NAPIlink" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="nxsd:standardClassAttributes" />
		<!-- allow user defined attributes -->
		<xs:anyAttribute namespace="##any" processContents="lax" />
	</xs:complexType>
	
	<!-- attributes that may be on any NX* class -->
	<xs:attributeGroup name="standardClassAttributes">
		<xs:attribute name="name" type="nxsd:validName" use="optional" />
	</xs:attributeGroup>
	

	<!-- base type for NX* classes -->
	<xs:complexType name="classBaseType">
		<xs:complexContent>
			<xs:restriction base="nxsd:classSuperBaseType">
				<xs:attribute name="NAPItype" use="prohibited" />
				<!-- allow user defined attributes -->
				<xs:anyAttribute namespace="##any" processContents="lax" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>


	<!-- superceded by definitions in NXtranslation
		<xs:complexType name="NXtranslationType">
		<xs:complexContent>
			<xs:extension base="nxsd:classBaseType">
			  <xs:sequence maxOccurs="unbounded">
				<xs:element type="nxsd:floatDataType" name="distances" minOccurs="0" />
			  	<xs:element type="nxsd:NXgeometryType" name="NXgeometry" minOccurs="0" />
			  </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	
	<!-- superceded by definitions in NXorientation
		<xs:complexType name="NXorientationType">
		<xs:complexContent>
			<xs:extension base="nxsd:classBaseType">
			  <xs:sequence maxOccurs="unbounded">
				<xs:element type="nxsd:floatDataType" name="angles" minOccurs="0" />
			  	<xs:element type="nxsd:NXgeometryType" name="NXgeometry" minOccurs="0" />
			  </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	
	
	<!-- superceded by definitions in NXshape
		<xs:complexType name="NXshapeType">
		<xs:complexContent>
			<xs:extension base="nxsd:classBaseType">
			  <xs:sequence maxOccurs="unbounded">
				<xs:element type="nxsd:validShape" name="shape" minOccurs="0" />
				<xs:element type="nxsd:float32DataType" name="size" minOccurs="0" />
			  </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
		
	<!-- superceded by definitions in NXgeometry
		<xs:complexType name="NXgeometryType">
		<xs:complexContent>
			<xs:extension base="nxsd:classBaseType">
			  <xs:sequence maxOccurs="unbounded">
				<xs:element type="nxsd:NXshapeType" name="NXshape" minOccurs="0" />
				<xs:element type="nxsd:NXtranslationType" name="NXtranslation" minOccurs="0" />
				<xs:element type="nxsd:NXorientationType" name="NXorientation" minOccurs="0" />
				<xs:element type="nxsd:charDataType" name="description" minOccurs="0" />
			  </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->

	<!-- an instrument component i.e. something that has a location, orientation etc. -->
	<!-- superceded by definitions in NXcomponent
		<xs:complexType name="componentType">
		<xs:annotation><xs:documentation>An instrument component i.e. something that has a location, orientation etc.</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="nxsd:classBaseType">
			  <xs:sequence maxOccurs="unbounded">
				<xs:element type="nxsd:floatDataType" name="distance" minOccurs="0">
					<xs:annotation><xs:documentation>Flight path distance to object</xs:documentation></xs:annotation>
					
				</xs:element> 
				<xs:element type="nxsd:floatDataType" name="polar_angle" minOccurs="0">
					<xs:annotation><xs:documentation>Polar angle of object.</xs:documentation></xs:annotation>
					
				</xs:element>
				<xs:element type="nxsd:floatDataType" name="azimuthal_angle" minOccurs="0">
					<xs:annotation><xs:documentation>Azimuthal angle of object.</xs:documentation></xs:annotation>
					
				</xs:element> 
				<xs:element type="nxsd:NXgeometryType" name="geometry" minOccurs="0">
					<xs:annotation><xs:documentation>Geometry information of object</xs:documentation></xs:annotation>
					
				</xs:element> 
			  </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->

</xs:schema>
