nxdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
########### SVN repository information ###################
# $LastChangedDate$
# $LastChangedBy$
# $LastChangedRevision$
# $HeadURL$
########### SVN repository information ###################
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://definition.nexusformat.org/nxdl/@NXDL_RELEASE@"
	xmlns:nx="http://definition.nexusformat.org/nxdl/@NXDL_RELEASE@" 
	version="$Id$"
	xmlns:db="http://docbook.org/ns/docbook"
	elementFormDefault="qualified">

	<xs:annotation>
		<xs:documentation>
			# NeXus - Neutron and X-ray Common Data Format
			# 
			# Copyright (C) 2008-2012 NeXus International Advisory Committee (NIAC)
			# 
			# This library is free software; you can redistribute it and/or
			# modify it under the terms of the GNU Lesser General Public
			# License as published by the Free Software Foundation; either
			# version 3 of the License, or (at your option) any later version.
			#
			# This library is distributed in the hope that it will be useful,
			# but WITHOUT ANY WARRANTY; without even the implied warranty of
			# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
			# Lesser General Public License for more details.
			#
			# You should have received a copy of the GNU Lesser General Public
			# License along with this library; if not, write to the Free Software
			# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
			#
			# For further information, see http://www.nexusformat.org
		</xs:documentation>
	</xs:annotation>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:include schemaLocation="nxdlTypes.xsd">
		<xs:annotation>
			<xs:documentation>
				Definitions of the basic data types and unit types 
				allowed in NXDL instance files.
			</xs:documentation>
		</xs:annotation>
	</xs:include>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<!-- define the document root element -->
	<xs:element name="definition" type="nx:definitionType">
		<xs:annotation>
			<xs:documentation>
				A <db:code>definition</db:code> element
				is the <db:code>group</db:code> at the
				root of every NXDL specification.
				It may <db:emphasis>only</db:emphasis> appear
				at the root of an NXDL file and must only appear 
				<db:emphasis role="bold">once</db:emphasis>
				for the NXDL to be <db:emphasis>well-formed</db:emphasis>.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:simpleType name="validItemName">
		<xs:annotation>
			<xs:documentation>
				Used for allowed names of elements and attributes.  
				Need to be restricted to valid program variable names.  
				Note:  This means no "-" or "." characters can be allowed and
				you cannot start with a number.
				HDF4 had a 64 character limit on names 
				(possibly including NULL) and NeXus enforces this 
				via the <db:code>NX_MAXNAMELEN</db:code> variable with 
				a <db:emphasis role="bold">64</db:emphasis> character limit (which
				may be 63 on a practical basis if one considers a NULL
				terminating byte).
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Za-z_][\w_]*" />
			<xs:maxLength value="63" />   <!-- enforce via NX_MAXNAMELEN -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="validNXClassName">
		<xs:annotation>
			<xs:documentation>
			  Used for allowed names of NX class types (e.g. NXdetector) 
			  not the instance (e.g. bank1) which is covered by validItemName.  
			  (This data type is used internally in the NXDL schema 
			  to define a data type.)
			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="nx:validItemName">
			<xs:pattern value="NX.+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="validTargetName">
		<xs:annotation>
			<xs:documentation>
				This is a valid link target - currently it must be an absolute path
				made up of valid names with the <db:code>/</db:code> character delimiter.  But we may
				want to consider allowing "<db:code>..</db:code>" (parent of directory) at some point.
				If the <db:code>name</db:code> attribute is helpful, then use it in the path 
				with the syntax of "<db:code>name:type</db:code>" as in these examples:
				<db:programlisting language="c"
>/NXentry/NXinstrument/analyzer:NXcrystal/ef
/NXentry/NXinstrument/monochromator:NXcrystal/ei
/NX_other</db:programlisting>
				Must also consider use of <db:code>name</db:code> attribute in resolving <db:code>link</db:code> targets.
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="xs:token">
			<xs:annotation>
				<xs:documentation>
					The HDF5 documentation 
					(<db:uri>http://www.hdfgroup.org/HDF5/doc/UG/UG_frame09Groups.html</db:uri>)
					says "<db:quote>Note that relative path names in HDF5 do not employ the ../ notation, 
					the UNIX notation indicating a parent directory, to indicate a parent group.</db:quote>"
					Thus, if we only consider the case of 
					<db:code>[name:]type</db:code>, the matching regular expression syntax
					is written: <db:code>/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+</db:code>.
					Note that HDF5 also permits relative path names, such as:
					<db:code>GroupA/GroupB/Dataset1</db:code>
					but this is not permitted in the matching regular expression and not supported in NAPI.
				</xs:documentation>
			</xs:annotation>
			<xs:pattern value="(/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:complexType name="definitionType">
		<xs:annotation>
			<xs:documentation>
				A <db:code>definition</db:code> is the root element of every NXDL definition.
				The <db:code>definitionType</db:code> defines the documentation, 
				attributes, fields, and groups that will be used
				as children of the <db:code>definition</db:code> element.
				Could contain these elements:
				<db:itemizedlist>
					<db:listitem><db:para><db:code>attribute</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>doc</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>field</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>group</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>link</db:code></db:para></db:listitem>
				</db:itemizedlist>
				Note that a <db:code>definition</db:code> element also includes the definitions of the 
				<db:code>basicComponent</db:code> data type.
				(The <db:code>definitionType</db:code> data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="symbols" type="nx:symbolsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Use the <db:code>symbols</db:code> element to create a list of 
						<db:code>symbol</db:code>s to define each of the mnemonics that
						represent the length of each dimension in a vector or array.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="nx:groupGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						In addition to an optional <db:code>symbols</db:code> list,
						a <db:code>definition</db:code> may contain any of the items
						allowed in a <db:code>group</db:code>.
					</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation>
					(<db:emphasis role="bold">required</db:emphasis>) 
					The <db:code>name</db:code> of this NXDL file (without the file extensions).
					The name must be unique amongst all the NeXus base class, application,
					and contributed definitions.  For the class to be adopted by the NIAC,
					the first two letters must be "<db:code>NX</db:code>" (in uppercase).  Any other use
					must <db:emphasis>not</db:emphasis> begin with "<db:code>NX</db:code>" in any combination
					of upper or lower case.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" use="required">
			<xs:annotation>
				<xs:documentation>
					(<db:emphasis role="bold">required</db:emphasis>) 
					Version of <db:emphasis>this</db:emphasis> NXDL definition.  
					Each NXDL specification
					may have a different version to facilitate software maintenance.
					This value is modified by the person who edits this file when
					this NXDL specification has changed significantly (in a way that
					downstream software should be aware).
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="nx:definitionTypeAttr">
			<xs:annotation>
				<xs:documentation>
					(<db:emphasis role="bold">required</db:emphasis>) 
					Must be <db:code>type="group"</db:code>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extends" use="optional">
			<xs:annotation>
				<xs:documentation>
					The <db:code>extends</db:code> attribute allows this definition
					to <db:emphasis>subclass</db:emphasis> from another NXDL,
					otherwise <db:code>extends="NXobject"</db:code> should be used.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="restricts" use="optional">
			<xs:annotation>
				<xs:documentation>
					The <db:code>restricts</db:code> attribute is a flag to the data validation.
					When <db:code>restricts="1"</db:code>, any non-standard component found
					(and checked for validity aginst this NXDL specification)
					in a NeXus data file will be flagged as an error.  If the
					<db:code>restricts</db:code> attribute is not present, any such situations
					will produce a warning.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="svnid" use="optional">
			<xs:annotation>
				<xs:documentation>
					The identifier string from the subversion revision control system.
					This reports the time stamp and the revision number of this file.
					(Updated automatically, unlike the <db:code>version</db:code> attribute.)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="category" use="required">
			<xs:annotation>
				<xs:documentation>
					NXDL <db:code>base</db:code> definitions define the dictionary 
					of terms to use for these components.  
					All terms in a <db:code>base</db:code> definition are optional.
					NXDL <db:code>application</db:code> definitions define what is 
					required for a scientific interest.  
					All terms in an <db:code>application</db:code> definition 
					are required.
					NXDL <db:code>contributed</db:code> definitions may be 
					considered either base or applications.
					Contributed definitions <emphasis>must</emphasis> indicate 
					their intended use, either as a base class or 
					as an application definition.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="base"/>
					<xs:enumeration value="application"/>
					<xs:enumeration value="contributed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ignoreExtraGroups" use="optional" type="nx:NX_BOOLEAN" default="false">
			<xs:annotation>
				<xs:documentation>
					Only validate known groups; do not not warn about unknowns.
					The <db:code>ignoreExtraGroups</db:code> attribute is a flag to the process of 
					validating NeXus data files.  By setting <db:code>ignoreExtraGroups="true"</db:code>, 
					presence of any undefined groups in this class will not generate warnings 
					during validation.  Normally, validation will check all the groups against 
					their definition in the NeXus base classes and 
					application definitions.  Any items found that do not match the definition 
					in the NXDL will generate a warning message.
					<db:emphasis>The <db:code>ignoreExtraGroups</db:code> attribute 
					should be used sparingly!</db:emphasis>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ignoreExtraFields" use="optional" type="nx:NX_BOOLEAN" default="false">
			<xs:annotation>
				<xs:documentation>
					Only validate known fields; do not not warn about unknowns.
					The <db:code>ignoreExtraFields</db:code> attribute is a flag to the process of 
					validating NeXus data files.  By setting <db:code>ignoreExtraFields="true"</db:code>, 
					presence of any undefined fields in this class will not generate warnings 
					during validation.  Normally, validation will check all the fields against 
					their definition in the NeXus base classes and 
					application definitions.  Any items found that do not match the definition 
					in the NXDL will generate a warning message.
					<db:emphasis>The <db:code>ignoreExtraFields</db:code> attribute should be used sparingly!</db:emphasis>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ignoreExtraAttributes" use="optional" type="nx:NX_BOOLEAN" default="false">
			<xs:annotation>
				<xs:documentation>
					Only validate known attributes; do not not warn about unknowns.
					The <db:code>ignoreExtraAttributes</db:code> attribute is a flag to the process of 
					validating NeXus data files.  By setting <db:code>ignoreExtraAttributes="true"</db:code>, 
					presence of any undefined attributes in this class will not generate warnings 
					during validation.  Normally, validation will check all the attributes 
					against their definition in the NeXus base classes and 
					application definitions.  Any items found that do not match the definition 
					in the NXDL will generate a warning message.
					<db:emphasis>The <db:code>ignoreExtraAttributes</db:code> attribute should be used sparingly!</db:emphasis>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="definitionTypeAttr">
		<xs:annotation>
			<xs:documentation>
				Prescribes the allowed values for <db:code>definition</db:code> <db:code>type</db:code> attribute.
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="group" />
			<xs:enumeration value="definition" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:complexType name="groupType">
		<xs:annotation>
			<xs:documentation>
				A group element refers to the definition of 
				an existing NX object or a locally-defined component.
				Could contain these elements:
				<db:itemizedlist>
					<db:listitem><db:para><db:code>attribute</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>doc</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>field</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>group</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>link</db:code></db:para></db:listitem>
				</db:itemizedlist>
				Note that a <db:code>group</db:code> element also includes the definitions of the 
				<db:code>basicComponent</db:code> data type.
				(The <db:code>groupType</db:code> data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="nx:groupGroup" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation>
					A <db:code>group</db:code> may contain other <db:code>group</db:code>s.
				</xs:documentation>
			</xs:annotation>
		</xs:group>
		<xs:attribute name="type" use="required" type="nx:validNXClassName">
			<xs:annotation>
				<xs:documentation>
					The <db:code>type</db:code> attribute <db:emphasis>must</db:emphasis> 
					contain the name of a 
					NeXus base class, application definition, or contributed definition.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation>
					A particular scientific application may expect
					a name of a <db:code>group</db:code> element. It is helpful but not
					required to specify the <db:code>name</db:code>
					attribute in the NXDL file.
					It is suggested to always specify a <db:code>name</db:code>
					to avoid ambiguity.  It is also suggested to 
					derive the <db:code>name</db:code> from the 
					type, using an additional number suffix as necessary.
					For example, consider a data file with only one 
					<db:code>NXentry</db:code>.  The suggested default 
					<db:code>name</db:code> would
					be <db:code>entry</db:code>.  For a data file with two or more
					<db:code>NXentry</db:code> groups, the suggested names would be
					<db:code>entry1</db:code>, <db:code>entry2</db:code>, ...
					Alternatively, a scientific application such as small-angle 
					scattering might require
					a different naming procedure; two different <db:code>NXaperture</db:code> groups
					might be given the names <db:code>beam-defining slit</db:code>
					and <db:code>scatter slit</db:code>.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minOccurs" use="optional" default="0" type="xs:nonNegativeInteger">
			<xs:annotation>
				<xs:documentation>
					Minimum number of times this <db:code>group</db:code> is allowed to be present within its
					parent group.  Note each <db:code>group</db:code> must have a <db:code>name</db:code> attribute
					that is unique among all <db:code>group</db:code> and <db:code>field</db:code>
					declarations within a common parent group.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxOccurs" use="optional"  default="unbounded">
			<xs:annotation>
				<xs:documentation>
					Maximum number of times this <db:code>group</db:code> is allowed to be present within its
					parent <db:code>group</db:code>.  Note each <db:code>group</db:code> must have a <db:code>name</db:code> attribute
					that is unique among all <db:code>group</db:code> and <db:code>field</db:code>
					declarations within a common parent <db:code>group</db:code>.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="groupGroup">
		<xs:annotation>
			<xs:documentation>
				A <db:code>groupGroup</db:code> defines the allowed children of a 
				<db:code>group</db:code> specification.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Describe the purpose of this <db:code>group</db:code>. 
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attribute" type="nx:attributeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Use an <db:code>attribute</db:code> if additional information 
						needs to be associated with a <db:code>group</db:code>.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="group" type="nx:groupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A <db:code>group</db:code> may contain <db:code>group</db:code>s.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="field" type="nx:fieldType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A <db:code>group</db:code> may contain <db:code>field</db:code>s (datasets).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="link" type="nx:linkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Use a <db:code>link</db:code> to refer locally to 
						information placed elsewhere else in the data storage hierarchy.  
						The <db:code>name</db:code> attribute uniquely identifies 
						the element in this <db:code>group</db:code>.
						The <db:code>target</db:code> attribute 
						(added automatically in a data file by the NAPI)
						identifies the original location of this data in the
						data storage hierarchy.
						In an NXDL specification, the <db:code>target</db:code> attribute 
						indicates a link to be made by the software that writes the data file.
						The value, as written in the NXDL file, will be a suggestion of
						the path to the source of the link.
						For example: 
						<db:programlisting language="xml"
							>&lt;link name="data" target="/NXentry/NXinstrument/NXdetector/data" /&gt;</db:programlisting>
						The value of <db:code>target</db:code> is written using
						the NeXus class names since this is a suggestion and does not actually use
						the element names from a particular data file.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:complexType name="basicComponent">
			<xs:annotation>
				<xs:documentation>
					A <db:code>basicComponent</db:code> defines the allowed name 
					format and attributes common to all <db:code>field</db:code> 
					and <db:code>group</db:code> specifications.
					(This data type is used internally in the NXDL schema 
					to define elements and attributes to be used by users in NXDL specifications.)
				</xs:documentation>
			</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Describe this <db:code>basicComponent</db:code> and its use.
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation>
					The <db:code>name</db:code> attribute is the 
					identifier string for this entity.
					It is required that <db:code>name</db:code> must be unique 
					within the enclosing <db:code>group</db:code>.
					The rule (<db:code>validItemName</db:code>) is defined to only 
					allow names that can be represented as valid variable names
					in most computer languages.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deprecated" use="optional">
			<xs:annotation>
				<xs:documentation>
					The presence of the <db:code>deprecated</db:code> attribute 
					indicates to the data file validation process that
					an advisory message (specified as the content of the
					<db:code>deprecated</db:code> attribute) will be reported.  
					Future versions of the NXDL file might
					not define (or even re-use) this component.
					For example:
					<db:programlisting language="c">deprecated="Should the 'deprecated' attribute become a 'field' in a future version?"</db:programlisting>
					Note: because <db:code>deprecated</db:code> is an attribute, 
					the XML rules do not permit it to have any element content
					such as DocBook markup.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value=".*(\w+).*" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		
	<xs:complexType name="fieldType">
		<xs:annotation>
			<xs:documentation>
				A <db:code>field</db:code> declares a new element in the component being defined. 
				A <db:code>field</db:code> is synonymous with the HDF4 SDS (Scientific Data Set) and 
				the HDF5 <db:emphasis>dataset</db:emphasis> terms.  
				Could contain these elements:
				<db:itemizedlist>
					<db:listitem><db:para><db:code>attribute</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>dimensions</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>doc</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>enumeration</db:code></db:para></db:listitem>
				</db:itemizedlist>
				Note that a <db:code>field</db:code> element also includes the definitions of the 
				<db:code>basicComponent</db:code> data type.
				(The <db:code>fieldType</db:code> data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nx:basicComponent">
				<xs:sequence>
					<xs:element name="dimensions" type="nx:dimensionsType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>dimensions of a data element 
							in a NeXus file</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attribute" type="nx:attributeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation
							>attributes to be used with this field</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enumeration" type="nx:enumerationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A field can specify which 
							values are to be used</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="units" type="nx:anyUnitsAttr">
					<xs:annotation>
						<xs:documentation>
							String describing the engineering units.
							The string should be appropriate for the value
							and should conform to the NeXus rules for units.
							Conformance is not validated at this time.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="long_name" type="nx:NX_CHAR">
					<xs:annotation>
						<xs:documentation>
							Descriptive name for this field (may include whitespace and engineering units).
							Often, the long_name (when defined) will be used as the axis label on a plot.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="signal" type="nx:NX_POSINT">
					<xs:annotation>
						<xs:documentation>
							Presence of the <db:code>signal</db:code> attribute means this field is an ordinate.
							
							Integer marking this field as plottable data (ordinates).
							The value indicates the priority of selection or interest.
							Some facilities only use <db:code>signal="1"</db:code>
							while others use <db:code>signal="2"</db:code> to indicate
							plottable data of secondary interest.
							Higher numbers are possible but not common
							and interpretation is not standard.
							
							A field with a <db:code>signal</db:code> attribute should not have an <db:code>axis</db:code> attribute.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="axes" type="nx:NX_CHAR">
					<xs:annotation>
						<xs:documentation>
							Presence of the <db:code>axes</db:code> attribute means this field is an ordinate.
							
							This attribute contains a colon (or comma in legacy files) delimited list
							of the names of independent axes when plotting this field.
							Each name in this list must exist as a field in the same group.
							<!-- perhaps even discourage use of square brackets in axes attribute? -->
							(Optionally, the list can be enclosed by square brackets but this is not common.)
							The regular expression for this rule is:
							<db:programlisting language="c">[A-Za-z_][\w_]*([ :][A-Za-z_][\w_]*)*</db:programlisting>
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="axis" type="nx:NX_POSINT">
					<xs:annotation>
						<xs:documentation>
							NOTE: Use of this attribute is discouraged.  It is for legacy support.
							You should use the axes attribute instead.
							
							Presence of the <db:code>axis</db:code> attribute means this field is an abcissa.
							
							The attribute value is an integer indicating this
							field as an axis that is part of the data set.
							The data set is a field with the attribute 
							<db:code>signal="1"</db:code> in the same group.
							The value can range from 1 up to the number of 
							independent axes (abcissae) in the data set.  
							
							A value of <db:code>axis="1</db:code>" indicates that this field 
							contains the data for the first independent axis.  
							For example, the X axis in an XY data set.
							
							A value of <db:code>axis="2"</db:code> indicates that this field 
							contains the data for the second independent axis.
							For example, the Y axis in a 2-D data set.
							
							A value of <db:code>axis="3"</db:code> indicates that this field 
							contains the data for the third independent axis.
							For example, the Z axis in a 3-D data set.
							
							A field with an <db:code>axis</db:code> attribute should 
							not have a <db:code>signal</db:code> attribute.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="primary" type="nx:NX_POSINT">
					<xs:annotation>
						<xs:documentation>
							Integer indicating the priority of selection
							of this field for plotting (or visualization) as an axis.
							
							Presence of the <db:code>primary</db:code> attribute means this 
							field is an abcissa.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="nx:NAPI" default="NX_CHAR">
					<xs:annotation>
						<xs:documentation>
							Defines the type of the element as allowed by the NAPI (NeXus Application Programmer Interface).
							See elsewhere for the complete list of allowed NAPI types.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="minOccurs" use="optional" default="0" type="nx:nonNegativeUnbounded">
					<xs:annotation>
						<xs:documentation>
							Defines the minimum number of times this element may be used.  Its 
							value is confined to zero or greater.  Must be less than or equal to
							the value for the "maxOccurs" attribute.
							A value of "unbounded" is allowed.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="maxOccurs" use="optional"  default="1" type="nx:nonNegativeUnbounded">
					<xs:annotation>
						<xs:documentation>
							Defines the maximum number of times this element may be used.  Its 
							value is confined to zero or greater.  Must be greater than or equal to
							the value for the "minOccurs" attribute.
							A value of "unbounded" is allowed.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="stride" use="optional"  default="1" type="nx:NX_INT">
					<xs:annotation>
						<xs:documentation>
							The <db:code>stride</db:code> and <db:code>offset</db:code> attributes
							are used together to index the array of data items in a 
							multi-dimensional array.  They may be used as an alternative
							method to address a data array that is not stored in the standard NeXus
							method of "C" order.
							
							The <db:code>stride</db:code> list chooses array locations from the 
							data array  with each value in the <db:code>stride</db:code> list 
							determining how many elements to move in each dimension. 
							Setting a value in the <db:code>stride</db:code> array to 1 moves 
							to each element in that dimension of the data array, while 
							setting a value of 2 in a location in the <db:code>stride</db:code> 
							array moves to every other element in that dimension of the 
							data array.  A value in the <db:code>stride</db:code> list may be
							positive to move forward or negative to step backward.
							A value of zero will not step (and is of no particular use).
							
							See <db:uri>http://davis.lbl.gov/Manuals/HDF5-1.4.3/Tutor/phypereg.html</db:uri>
							or <db:emphasis>4. Dataspace Selection Operations</db:emphasis> in
							<db:uri>http://www.hdfgroup.org/HDF5/doc1.6/Dataspaces.html</db:uri>.
							

							The <db:code>stride</db:code> attribute contains a 
							comma-separated list of integers. 
							(In addition to the required comma delimiter, 
							whitespace is also allowed to improve readability.)
							The number of items in the list
							is equal to the rank of the data being stored.  The value of each
							item is the spacing of the data items in that subscript of the array.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="offset" use="optional"  default="1" type="nx:nonNegativeUnbounded">
					<xs:annotation>
						<xs:documentation>
							The <db:code>stride</db:code> and <db:code>offset</db:code> attributes
							are used together to index the array of data items in a 
							multi-dimensional array.  They may be used as an alternative
							method to address a data array that is not stored in the standard NeXus
							method of "C" order.
							
							The <db:code>offset</db:code> attribute
							determines the starting coordinates of the data array
							for each dimension.
							
							See <db:uri>http://davis.lbl.gov/Manuals/HDF5-1.4.3/Tutor/phypereg.html</db:uri>
							or <db:emphasis>4. Dataspace Selection Operations</db:emphasis> in
							<db:uri>http://www.hdfgroup.org/HDF5/doc1.6/Dataspaces.html</db:uri>.
							
							The <db:code>offset</db:code> attribute contains a 
							comma-separated list of integers. 
							(In addition to the required comma delimiter, 
							whitespace is also allowed to improve readability.)
							The number of items in the list
							is equal to the rank of the data being stored.  The value of each
							item is the offset in the array of the first data item of that 
							subscript of the array.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="interpretation" use="optional">
					<xs:annotation>
						<xs:documentation>
							<db:para> This instructs the consumer of the data what the last dimensions 
							of the data are. It allows plotting software to work 
							out the natural way of displaying the data. </db:para>
							
							<db:para> For example a single-element, energy-resolving, fluorescence detector
								with 512 bins should have <db:code>interpretation="spectrum"</db:code>. If the 
					 		detector is scanned over a 512 x 512 spatial grid, the data reported 
							will be of dimensions: 512 x 512 x 512.
							In this example, the initial plotting representation should default to 
							data of the same dimensions of a 512 x 512 pixel <db:code>image</db:code> 
							detector where the images where taken at 512 different pressure values. </db:para>
							
							<db:para> In simple terms, the allowed values mean:
							<db:itemizedlist>
								<db:listitem><db:para><db:code>scaler</db:code> = 0-D data to be plotted</db:para></db:listitem>
								<db:listitem><db:para><db:code>spectrum</db:code> = 1-D data to be plotted</db:para></db:listitem>
								<db:listitem><db:para><db:code>image</db:code> = 2-D data to be plotted</db:para></db:listitem>
								<db:listitem><db:para><db:code>vertex</db:code> = 3-D data to be plotted</db:para></db:listitem>
							</db:itemizedlist> </db:para>
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
                        <xs:restriction base="xs:string">
                        	<xs:enumeration value="scalar"/>
                        	<xs:enumeration value="spectrum"/>
                        	<xs:enumeration value="image"/>
                        	<xs:enumeration value="vertex"/>
                        </xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="attributeType">
		<xs:annotation>
			<xs:documentation>
				Any new group or field may expect or require some common attributes.
				Could contain these elements:
				<db:itemizedlist>
					<db:listitem><db:para><db:code>doc</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>enumeration</db:code></db:para></db:listitem>
				</db:itemizedlist>
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Description of this <db:code>attribute</db:code>.
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enumeration" type="nx:enumerationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						An enumeration specifies the values to be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation>
					Unique identifier string (within the enclosing group) for this entity.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="nx:primitiveType" default="NX_CHAR">
			<xs:annotation>
				<xs:documentation>
					For <db:code>group</db:code> specifications, the class name.
					For <db:code>field</db:code> or <db:code>attribute</db:code> specifications, 
					the NXDL data type.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="nonNegativeUnbounded">
		<xs:annotation>
			<xs:documentation>
				A <db:code>nonNegativeUnbounded</db:code> allows values including 
				all positive integers, zero, and the string <db:code>unbounded</db:code>.
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="unbounded" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:complexType name="linkType">
		<xs:annotation>
			<xs:documentation>
				A link to another item.  Use a link to avoid
				needless repetition of information.
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nx:basicComponent">
				<xs:attribute name="target" use="required" type="nx:validTargetName">
					<xs:annotation>
						<xs:documentation>
							A link to another item, represented as an
							absolute path to an existing field such as
							<db:code>/NXentry/NXinstrument/NXdetector/polar_angle</db:code>.
							Could contain these elements:
							<db:itemizedlist>
								<db:listitem><db:para><db:code>doc</db:code></db:para></db:listitem>
							</db:itemizedlist>
							Matching regular expression:
							<db:programlisting language="c">(/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+</db:programlisting>
						</xs:documentation>
					</xs:annotation>					
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="docType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				NXDL allows for documentation on most elements using the <db:code>doc</db:code>
				element. The documentation is useful in several contexts. The documentation will be
				rendered in the manual. Documentation, is provided as tooltips 
				by some XML editors when editing NXDL files.
				Simple documentation can be typed directly in the NXDL: <db:example>
					<db:title>simple documentation in NXDL</db:title>
					<db:programlisting language="xml" linenumbering="numbered"
>&lt;field name="name">
	&lt;doc>Descriptive name of sample&lt;/doc>
&lt;/field>					</db:programlisting>
				</db:example> This is suitable for basic descriptions that do not need extra formatting
				such as a bullet-list or a table. For more advanced control, DocBook elements are
				allowed, such as the <db:code>NXdetector</db:code> specification.
				Refer to examples in the NeXus base class NXDL files such as <db:code>NXdata</db:code>.
				Be sure to use the DocBook namespace if the documentation will use any DocBook formatting elements:
				<db:code>xmlns="http://docbook.org/ns/docbook"</db:code>
				Could contain these elements:
				<db:itemizedlist>
					<db:listitem><db:para><db:emphasis>any</db:emphasis></db:para></db:listitem>
				</db:itemizedlist>
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="symbolsType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Each <db:code>symbol</db:code> has a <db:code>name</db:code> and optional documentation.
				Please provide documentation that indicates what each symbol represents.
				For example:
				<db:programlisting language="xml" linenumbering="numbered"
>&lt;symbols>
    &lt;symbol name="nsurf">&lt;doc>number of reflecting surfaces&lt;/doc>&lt;/symbol>
    &lt;symbol name="nwl">&lt;doc>number of wavelengths&lt;/doc>&lt;/symbol>
&lt;/symbols></db:programlisting>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Describe the purpose of this list of <db:code>symbols</db:code>. 
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="symbol" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						When multiple <db:code>field</db:code>s share the same dimensions, such as the dimension scales
						associated with plottable data in an <db:code>NXdata</db:code> group, the length of each
						dimension written in a NeXus data file should be something that can be tested by the 
						data file validation process.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Describe the purpose of this <db:code>symbol</db:code>. 
									This documentation will go into the manual.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="name" type="nx:validItemName">
						<xs:annotation>
							<xs:documentation>
								Mnemonic variable name for this array index symbol.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="enumerationType">
		<xs:annotation>
			<xs:documentation>
				An <db:code>enumeration</db:code> restricts the values allowed for a specification.
				Each value is specified using an <db:code>item</db:code> element, such as:
				<db:code>&lt;item value="Synchrotron X-ray Source" /&gt;</db:code>.
				Could contain these elements:
				<db:itemizedlist>
					<db:listitem><db:para><db:code>doc</db:code></db:para></db:listitem>
					<db:listitem><db:para><db:code>item</db:code></db:para></db:listitem>
				</db:itemizedlist>
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
				<db:programlisting language="c"
>&lt;field name="mode">
	&lt;doc>source operating mode&lt;/doc>
	&lt;enumeration>
		&lt;item value="Single Bunch">&lt;doc>for storage rings&lt;/doc>&lt;/item>
		&lt;item value="Multi Bunch">&lt;doc>for storage rings&lt;/doc>&lt;/item>
		&lt;!-- other sources could add to this --&gt;
	&lt;/enumeration>
	&lt;/field></db:programlisting>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						One of the prescribed values.  Use the <db:code>value</db:code> attribute.
					</xs:documentation>
				</xs:annotation>				
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>
							Defines the value of one selection for an <db:code>enumeration</db:code> list.
							Each enumerated item must have a value (it cannot have an empty text node).
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Individual <db:code>item</db:code>s can be documented 
									but this documentation will not be printed in the 
									<db:emphasis>NeXus Reference Guide</db:emphasis>.
									When DocBook markup is used,
									be sure to use the provided DocBook namespace prefix 
									(<db:code>db:</db:code>) for any DocBook elements,
									such as this example:
									<db:programlisting language="xml">&lt;doc&gt;&lt;db:para&gt;this is documentation with DocBook markup&lt;/db:para&gt;&lt;/doc&gt;</db:programlisting>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="value" use="required">
						<xs:annotation>
							<xs:documentation>
								The value of <db:code>value</db:code> of an <db:code>enumItem</db:code>
								is defined as an attribute rather than a name.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="dimensionsType">
		<!-- 
			see TRAC ticket #32: http://trac.nexusformat.org/definitions/ticket/32 
		-->
		<xs:annotation>
			<xs:documentation>
				dimensions of a data element in a NeXus file
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Documentation might be necessary to describe how the parts
						of the <db:code>dimensions</db:code> element are to be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dim" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Specify the parameters for each index of the <db:code>dimensions</db:code>
						element with a <db:code>dim</db:code> element.
						The number of <db:code>dim</db:code> entries should be equal to 
						the <db:code>rank</db:code> of the array.
						For example, these terms 
						describe a 2-D array with lengths (<db:code>nsurf</db:code>, <db:code>nwl</db:code>):
						<db:programlisting language="c"
>&lt;dimensions rank="2">
    &lt;dim index="1" value="nsurf"/>
    &lt;dim index="2" value="nwl"/>
    &lt;/dimensions></db:programlisting>
						The <db:code>value</db:code> attribute is used by NXDL and also by
						the NeXus data file validation tools to associate and coordinate the 
						same array length across multiple fields in a group.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="index" use="required">
						<xs:annotation>
							<xs:documentation>
								Number or symbol indicating which axis (subscript) is 
								being described, ranging from 1 up to 
								<db:code>rank</db:code> (rank of the 
								data structure).  For example, given an array 
								<db:code>A[i,j,k]</db:code>, 
								<db:code>index="1"</db:code> would refer to the 
								<db:code>i</db:code> axis (subscript).
								(<db:code>NXdata</db:code> uses <db:code>index="0"</db:code>
								to indicate a situation when the specific index is not
								known <db:emphasis>a priori</db:emphasis>.)
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="value" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation>
								Integer length (number of values), or mnemonic symbol 
								representing the length of this axis.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ref" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation>
								The dimension specification is the same as 
								that in the <db:code>ref</db:code> field, specified either by a relative path, 
								such as <db:code>polar_angle</db:code> or <db:code>../Qvec</db:code> or absolute path, such as
								<db:code>/entry/path/to/follow/to/ref/field</db:code>.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="refindex" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation>
								The dimension specification is the same as 
								the <db:code>refindex</db:code> axis within the <db:code>ref</db:code> field.
								Requires <db:code>ref</db:code> attribute to be present.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="incr" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation>
								The dimension specification is related to
								the <db:code>refindex</db:code> axis within the <db:code>ref</db:code> field by an 
								offset of <db:code>incr</db:code>.  Requires <db:code>ref</db:code> and <db:code>refindex</db:code>
								attributes to be present.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rank" type="nx:NX_CHAR">
			<xs:annotation>
				<xs:documentation>
					Rank (number of dimensions) of the data structure.  
					For example: <db:code>a[5]</db:code> has <db:code>rank="1"</db:code> while 
					<db:code>b[8,5,6,4]</db:code> has <db:code>rank="4"</db:code>.  
					See <db:uri>http://en.wikipedia.org/wiki/Rank_(computer_programming)</db:uri> 
					for more details.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
</xs:schema>
