nxdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
########### SVN repository information ###################
# $LastChangedDate$
# $LastChangedBy$
# $LastChangedRevision$
# $HeadURL$
########### SVN repository information ###################
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://definition.nexusformat.org/nxdl/3.1"
	xmlns:nx="http://definition.nexusformat.org/nxdl/3.1" 
	version="$Id$"
	elementFormDefault="qualified">

	<xs:annotation>
		<xs:documentation>
			# NeXus - Neutron and X-ray Common Data Format
			# 
			# Copyright (C) 2008-2010 NeXus International Advisory Committee (NIAC)
			# 
			# This library is free software; you can redistribute it and/or
			# modify it under the terms of the GNU Lesser General Public
			# License as published by the Free Software Foundation; either
			# version 3 of the License, or (at your option) any later version.
			#
			# This library is distributed in the hope that it will be useful,
			# but WITHOUT ANY WARRANTY; without even the implied warranty of
			# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
			# Lesser General Public License for more details.
			#
			# You should have received a copy of the GNU Lesser General Public
			# License along with this library; if not, write to the Free Software
			# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
			#
			# For further information, see http://www.nexusformat.org
		</xs:documentation>
	</xs:annotation>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:include schemaLocation="nxdlTypes.xsd">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				Definitions of the basic data types and unit types 
				allowed in NXDL instance files.
			</xs:documentation>
		</xs:annotation>
	</xs:include>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<!-- define the document root element -->
	<xs:element name="definition" type="nx:definitionType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A <code>definition</code> element
				is the <code>group</code> at the
				root of every NXDL specification.
				It may <emphasis>only</emphasis> appear
				at the root of an NXDL file and must only appear 
				<emphasis role="bold">once</emphasis>
				for the NXDL to be <emphasis>well-formed</emphasis>.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:simpleType name="validItemName">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				Used for allowed names of elements and attributes.  
				Need to be restricted to valid program variable names.  
				Note:  This means no "-" or "." characters can be allowed and
				you cannot start with a number.
				HDF4 had a 64 character limit on names 
				(possibly including NULL) and NeXus enforces this 
				via the <code>NX_MAXNAMELEN</code> variable with 
				a <emphasis role="bold">64</emphasis> character limit (which
				may be 63 on a practical basis if one considers a NULL
				terminating byte).
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Za-z_][\w_]*" />
			<xs:maxLength value="63" />   <!-- enforce via NX_MAXNAMELEN -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="validNXClassName">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
			  Used for allowed names of NX class types (e.g. NXdetector) 
			  not the instance (e.g. bank1) which is covered by validItemName.  
			  (This data type is used internally in the NXDL schema 
			  to define a data type.)
			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="nx:validItemName">
			<xs:pattern value="NX.+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="validTargetName">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				This is a valid link target - currently it must be an absolute path
				made up of valid names with the <code>/</code> character delimiter.  But we may
				want to consider allowing "<code>..</code>" (parent of directory) at some point.
				If the <code>name</code> attribute is helpful, then use it in the path 
				with the syntax of "<code>name:type</code>" as in these examples:
				<programlisting language="c"
><code>/NXentry/NXinstrument/analyzer:NXcrystal/ef
/NXentry/NXinstrument/monochromator:NXcrystal/ei
/NX_other</code></programlisting>
				Must also consider use of <code>name</code> attribute in resolving <code>link</code> targets.
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>  
		</xs:annotation>  
		<xs:restriction base="xs:token">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The HDF5 documentation 
					(<uri>http://www.hdfgroup.org/HDF5/doc/UG/UG_frame09Groups.html</uri>)
					says "<quote>Note that relative path names in HDF5 do not employ the ../ notation, 
					the UNIX notation indicating a parent directory, to indicate a parent group.</quote>"
					Thus, if we only consider the case of 
					<code>[name:]type</code>, the matching regular expression syntax
					is written: <code>/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+</code>.
					Note that HDF5 also permits relative path names, such as:
					<code>GroupA/GroupB/Dataset1</code>
					but this is not permitted in the matching regular expression and not supported in NAPI.
				</xs:documentation>
			</xs:annotation>
			<xs:pattern value="(/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:complexType name="definitionType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A <code>definition</code> is the root element of every NXDL definition.
				The <code>definitionType</code> defines the documentation, 
				attributes, fields, and groups that will be used
				as children of the <code>definition</code> element.
				Could contain these elements:
				<itemizedlist>
					<listitem><para><code>attribute</code></para></listitem>
					<listitem><para><code>doc</code></para></listitem>
					<listitem><para><code>field</code></para></listitem>
					<listitem><para><code>group</code></para></listitem>
					<listitem><para><code>link</code></para></listitem>
				</itemizedlist>
				Note that a <code>definition</code> element also includes the definitions of the 
				<code>basicComponent</code> data type.
				(The <code>definitionType</code> data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="symbols" type="nx:symbolsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Use the <code>symbols</code> element to create a list of 
						<code>symbol</code>s to define each of the mnemonics that
						represent the length of each dimension in a vector or array.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="nx:groupGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						In addition to an optional <code>symbols</code> list,
						a <code>definition</code> may contain any of the items
						allowed in a <code>group</code>.
					</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					(<emphasis role="bold">required</emphasis>) 
					The <code>name</code> of this NXDL file (without the file extensions).
					The name must be unique amongst all the NeXus base class, application,
					and contributed definitions.  For the class to be adopted by the NIAC,
					the first two letters must be "NX" (in uppercase).  Any other use
					must <emphasis>not</emphasis> begin with "NX" in any combination
					of upper or lower case.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" use="required">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					(<emphasis role="bold">required</emphasis>) 
					Version of <emphasis>this</emphasis> NXDL definition.  
					Each NXDL specification
					may have a different version to facilitate software maintenance.
					This value is modified by the person who edits this file when
					this NXDL specification has changed significantly (in a way that
					downstream software should be aware).
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="nx:definitionTypeAttr">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					(<emphasis role="bold">required</emphasis>) 
					Must be <code>type="group"</code>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extends" use="optional">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The <code>extends</code> attribute allows this definition
					to <emphasis>subclass</emphasis> from another NXDL,
					otherwise <code>extends="NXobject"</code> should be used.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="restricts" use="optional">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The <code>restricts</code> attribute is a flag to the data validation.
					When <code>restricts="1"</code>, any non-standard component found
					(and checked for validity aginst this NXDL specification)
					in a NeXus data file will be flagged as an error.  If the
					<code>restricts</code> attribute is not present, any such situations
					will produce a warning.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="svnid" use="optional">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The identifier string from the subversion revision control system.
					This reports the time stamp and the revision number of this file.
					(Updated automatically, unlike the <code>version</code> attribute.)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="category" use="required">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					NXDL <code>base</code> definitions define the dictionary of terms to use for these components.  
					All terms in a <code>base</code> definition are optional.
					NXDL <code>application</code> definitions define what is required for a scientific interest.  
					All terms in an <code>application</code> definition are required.
					NXDL <code>contributed</code> definitions may be considered either base or applications.
					<!-- TODO eventually, will contributed defs need to indicate their intended usage? -->
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="base"/>
					<xs:enumeration value="application"/>
					<xs:enumeration value="contributed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ignoreExtraGroups" use="optional" type="nx:NX_BOOLEAN" default="false">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Only validate known groups; do not not warn about unknowns.
					The <code>ignoreExtraGroups</code> attribute is a flag to the process of 
					validating NeXus data files.  By setting <code>ignoreExtraGroups="true"</code>, 
					presence of any undefined groups in this class will not generate warnings 
					during validation.  Normally, validation will check all the groups against 
					their definition in the NeXus base classes and 
					application definitions.  Any items found that do not match the definition 
					in the NXDL will generate a warning message.
					<emphasis>The <code>ignoreExtraGroups</code> attribute should be used sparingly!</emphasis>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ignoreExtraFields" use="optional" type="nx:NX_BOOLEAN" default="false">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Only validate known fields; do not not warn about unknowns.
					The <code>ignoreExtraFields</code> attribute is a flag to the process of 
					validating NeXus data files.  By setting <code>ignoreExtraFields="true"</code>, 
					presence of any undefined fields in this class will not generate warnings 
					during validation.  Normally, validation will check all the fields against 
					their definition in the NeXus base classes and 
					application definitions.  Any items found that do not match the definition 
					in the NXDL will generate a warning message.
					<emphasis>The <code>ignoreExtraFields</code> attribute should be used sparingly!</emphasis>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ignoreExtraAttributes" use="optional" type="nx:NX_BOOLEAN" default="false">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Only validate known attributes; do not not warn about unknowns.
					The <code>ignoreExtraAttributes</code> attribute is a flag to the process of 
					validating NeXus data files.  By setting <code>ignoreExtraAttributes="true"</code>, 
					presence of any undefined attributes in this class will not generate warnings 
					during validation.  Normally, validation will check all the attributes 
					against their definition in the NeXus base classes and 
					application definitions.  Any items found that do not match the definition 
					in the NXDL will generate a warning message.
					<emphasis>The <code>ignoreExtraAttributes</code> attribute should be used sparingly!</emphasis>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="definitionTypeAttr">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				Prescribes the allowed values for <code>definition</code> <code>type</code> attribute.
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="group" />
			<xs:enumeration value="definition" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:complexType name="groupType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A group element refers to the definition of 
				an existing NX object or a locally-defined component.
				Could contain these elements:
				<itemizedlist>
					<listitem><para><code>attribute</code></para></listitem>
					<listitem><para><code>doc</code></para></listitem>
					<listitem><para><code>field</code></para></listitem>
					<listitem><para><code>group</code></para></listitem>
					<listitem><para><code>link</code></para></listitem>
				</itemizedlist>
				Note that a <code>group</code> element also includes the definitions of the 
				<code>basicComponent</code> data type.
				(The <code>groupType</code> data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="nx:groupGroup" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					A <code>group</code> may contain other <code>group</code>s.
				</xs:documentation>
			</xs:annotation>
		</xs:group>
		<xs:attribute name="type" use="required" type="nx:validNXClassName">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The <code>type</code> attribute <emphasis>must</emphasis> 
					contain the name of a 
					NeXus base class, application definition, or contributed definition.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					A particular scientific application may expect
					a name of a <code>group</code> element. It is helpful but not
					required to specify the <code>name</code>
					attribute in the NXDL file.
					It is suggested to always specify a <code>name</code>
					to avoid ambiguity.  It is also suggested to 
					derive the <code>name</code> from the 
					type, using an additional number suffix as necessary.
					For example, consider a data file with only one 
					<code>NXentry</code>.  The suggested default 
					<code>name</code> would
					be <code>entry</code>.  For a data file with two or more
					<code>NXentry</code> groups, the suggested names would be
					<code>entry1</code>, <code>entry2</code>, ...
					Alternatively, a scientific application such as small-angle 
					scattering might require
					a different naming procedure; two different <code>NXaperture</code> groups
					might be given the names <code>beam-defining slit</code>
					and <code>scatter slit</code>.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minOccurs" use="optional" default="0" type="xs:nonNegativeInteger">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Minimum number of times this <code>group</code> is allowed to be present within its
					parent group.  Note each <code>group</code> must have a <code>name</code> attribute
					that is unique among all <code>group</code> and <code>field</code>
					declarations within a common parent group.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxOccurs" use="optional"  default="unbounded">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Maximum number of times this <code>group</code> is allowed to be present within its
					parent <code>group</code>.  Note each <code>group</code> must have a <code>name</code> attribute
					that is unique among all <code>group</code> and <code>field</code>
					declarations within a common parent <code>group</code>.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="groupGroup">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A <code>groupGroup</code> defines the allowed children of a 
				<code>group</code> specification.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Describe the purpose of this <code>group</code>. 
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attribute" type="nx:attributeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Use an <code>attribute</code> if additional information 
						needs to be associated with a <code>group</code>.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="group" type="nx:groupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						A <code>group</code> may contain <code>group</code>s.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="field" type="nx:fieldType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						A <code>group</code> may contain <code>field</code>s (datasets).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="link" type="nx:linkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Use a <code>link</code> to suggest that this information is actually stored
						somewhere else in the hierarchy.  
						Use the <code>name</code> attribute to define the name of the element to be used in this <code>group</code>.
						Use the <code>target</code> attribute to identify the suggested source of the link.  
						The value of <code>target</code> is written using
						the NeXus class names since this is a suggestion and does not actually use
						the names from a particular data file.  <!-- TODO awkward wording -->
						For example: 
						<programlisting language="xml"
							><code>&lt;link name="data" target="/NXentry/NXinstrument/NXdetector/data" /&gt;</code
							></programlisting>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:complexType name="basicComponent">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					A <code>basicComponent</code> defines the allowed name 
					format and attributes common to all <code>field</code> 
					and <code>group</code> specifications.
					(This data type is used internally in the NXDL schema 
					to define elements and attributes to be used by users in NXDL specifications.)
				</xs:documentation>
			</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Describe this <code>basicComponent</code> and its use.
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The <code>name</code> attribute is the 
					identifier string for this entity.
					It is required that <code>name</code> must be unique 
					within the enclosing <code>group</code>.
					The rule (<code>validItemName</code>) is defined to only 
					allow names that can be represented as valid variable names
					in most computer languages.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deprecated" use="optional">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					The presence of the <code>deprecated</code> attribute 
					indicates to the data file validation process that
					an advisory message (specified as the content of the
					<code>deprecated</code> attribute) will be reported.  
					Future versions of the NXDL file might
					not define (or even re-use) this component.
					For example:
					<programlisting language="c"><code
	>deprecated="Should the 'deprecated' attribute become a 'field' in a future version?"</code
						></programlisting>
					Note: because <code>deprecated</code> is an attribute, 
					the XML rules do not permit it to have any element content
					such as DocBook markup.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value=".*(\w+).*" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		
	<xs:complexType name="fieldType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A <code>field</code> declares a new element in the component being defined. 
				A <code>field</code> is synonymous with the HDF4 SDS (Scientific Data Set) and 
				the HDF5 <emphasis>dataset</emphasis> terms.  
				Could contain these elements:
				<itemizedlist>
					<listitem><para><code>attribute</code></para></listitem>
					<listitem><para><code>dimensions</code></para></listitem>
					<listitem><para><code>doc</code></para></listitem>
					<listitem><para><code>enumeration</code></para></listitem>
				</itemizedlist>
				Note that a <code>field</code> element also includes the definitions of the 
				<code>basicComponent</code> data type.
				(The <code>fieldType</code> data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nx:basicComponent">
				<xs:sequence>
					<xs:element name="dimensions" type="nx:dimensionsType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">dimensions of a data element 
							in a NeXus file</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attribute" type="nx:attributeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								attributes to be used with this field
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enumeration" type="nx:enumerationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">A field can specify which 
							values are to be used</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="units" type="nx:anyUnitsAttr">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							String describing the engineering units.
							The string should be appropriate for the value
							and should conform to the NeXus rules for units.
							Conformance is not validated at this time.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="long_name" type="nx:NX_CHAR">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Descriptive name for this field (may include whitespace and engineering units).
							Often, the long_name (when defined) will be used as the axis label on a plot.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="signal" type="nx:NX_POSINT">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Presence of the <code>signal</code> attribute means this field is an ordinate.
							
							Integer marking this field as plottable data (ordinates).
							The value indicates the priority of selection or interest.
							Some facilities only use <code>signal="1"</code>
							while others use <code>signal="2"</code> to indicate
							plottable data of secondary interest.
							Higher numbers are possible but not common
							and interpretation is not standard.
							
							A field with a <code>signal</code> attribute should not have an <code>axis</code> attribute.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="axes" type="nx:NX_CHAR">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Presence of the <code>axes</code> attribute means this field is an ordinate.
							
							This attribute contains a colon (or comma) delimited list
							<!-- TODO see design.xml: Section NeXus Data -->
							of the names of independent axes when plotting this field.
							Each name in this list must exist as a field in the same group.
							<!-- perhaps even discourage use of square brackets in axes attribute? -->
							(Optionally, the list can be enclosed by square brackets but this is not common.)
							The regular expression for this rule is:
							<programlisting language="c"><code>[A-Za-z_][\w_]*([ :][A-Za-z_][\w_]*)*</code></programlisting>
							
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="axis" type="nx:NX_POSINT">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							NOTE: Use of this attribute is discouraged.  It is for legacy support.
							You should use the axes attribute instead.
							
							Presence of the <code>axis</code> attribute means this field is an abcissa.
							
							The attribute value is an integer indicating this
							field as an axis that is part of the data set.
							The data set is a field with the attribute 
							<code>signal="1"</code> in the same group.
							The value can range from 1 up to the number of 
							independent axes (abcissae) in the data set.  
							
							A value of <code>axis="1</code>" indicates that this field 
							contains the data for the first independent axis.  
							For example, the X axis in an XY data set.
							
							A value of <code>axis="2"</code> indicates that this field 
							contains the data for the second independent axis.
							For example, the Y axis in a 2-D data set.
							
							A value of <code>axis="3"</code> indicates that this field 
							contains the data for the third independent axis.
							For example, the Z axis in a 3-D data set.
							
							A field with an <code>axis</code> attribute should 
								not have a <code>signal</code> attribute.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="primary" type="nx:NX_POSINT">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Integer indicating the priority of selection
							of this field for plotting (or visualization) as an axis.
							
							Presence of the <code>primary</code> attribute means this 
							field is an abcissa.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="nx:NAPI" default="NX_CHAR">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Defines the type of the element as allowed by the NAPI (NeXus Application Programmer Interface).
							See elsewhere for the complete list of allowed NAPI types.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="minOccurs" use="optional" default="0" type="nx:nonNegativeUnbounded">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Defines the minimum number of times this element may be used.  Its 
							value is confined to zero or greater.  Must be less than or equal to
							the value for the "maxOccurs" attribute.
							A value of "unbounded" is allowed.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="maxOccurs" use="optional"  default="1" type="nx:nonNegativeUnbounded">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Defines the maximum number of times this element may be used.  Its 
							value is confined to zero or greater.  Must be greater than or equal to
							the value for the "minOccurs" attribute.
							A value of "unbounded" is allowed.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="stride" use="optional"  default="1" type="nx:NX_INT">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							The <code>stride</code> and <code>offset</code> attributes
							are used together to index the array of data items in a 
							multi-dimensional array.  They may be used as an alternative
							method to address a data array that is not stored in the standard NeXus
							method of "C" order.
							
							The <code>stride</code> list chooses array locations from the 
							data array  with each value in the <code>stride</code> list 
							determining how many elements to move in each dimension. 
							Setting a value in the <code>stride</code> array to 1 moves 
							to each element in that dimension of the data array, while 
							setting a value of 2 in a location in the <code>stride</code> 
							array moves to every other element in that dimension of the 
							data array.  A value in the <code>stride</code> list may be
							positive to move forward or negative to step backward.
							A value of zero will not step (and is of no particular use).
							
							See <uri>http://davis.lbl.gov/Manuals/HDF5-1.4.3/Tutor/phypereg.html</uri>
							or <emphasis>4. Dataspace Selection Operations</emphasis> in
							<uri>http://www.hdfgroup.org/HDF5/doc1.6/Dataspaces.html</uri>.
							

							The <code>stride</code> attribute contains a 
							( TODO: state the common delimiter for "stride" )
							separated list of integers.  The number of items in the list
							is equal to the rank of the data being stored.  The value of each
							item is the spacing of the data items in that subscript of the array.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="offset" use="optional"  default="1" type="nx:nonNegativeUnbounded">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							The <code>stride</code> and <code>offset</code> attributes
							are used together to index the array of data items in a 
							multi-dimensional array.  They may be used as an alternative
							method to address a data array that is not stored in the standard NeXus
							method of "C" order.
							
							The <code>offset</code> attribute
							determines the starting coordinates of the data array
							for each dimension.
							
							See <uri>http://davis.lbl.gov/Manuals/HDF5-1.4.3/Tutor/phypereg.html</uri>
							or <emphasis>4. Dataspace Selection Operations</emphasis> in
							<uri>http://www.hdfgroup.org/HDF5/doc1.6/Dataspaces.html</uri>.
							
							The <code>offset</code> attribute contains a 
							( TODO: state the common delimiter )
							separated list of integers.  The number of items in the list
							is equal to the rank of the data being stored.  The value of each
							item is the offset in the array of the first data item of that 
							subscript of the array.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="interpretation" use="optional"  type="nx:NX_CHAR">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							add interpretation attribute to datasets, as discussed at 2010NIAC
							<!-- TODO interpretation attribute needs a better docstring -->
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="attributeType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				Any new group or field may expect or require some common attributes.
				Could contain these elements:
				<itemizedlist>
					<listitem><para><code>doc</code></para></listitem>
					<listitem><para><code>enumeration</code></para></listitem>
				</itemizedlist>
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Description of this <code>attribute</code>.
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enumeration" type="nx:enumerationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						An enumeration specifies the values to be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="nx:validItemName">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Unique identifier string (within the enclosing group) for this entity.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="nx:primitiveType" default="NX_CHAR">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					For <code>group</code> specifications, the class name.
					For <code>field</code> or <code>attribute</code> specifications, 
					the NXDL data type.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="nonNegativeUnbounded">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A <code>nonNegativeUnbounded</code> allows values including 
				all positive integers, zero, and the string <code>unbounded</code>.
				(This data type is used internally in the NXDL schema 
				to define a data type.)
			</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="unbounded" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<xs:complexType name="linkType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				A link to another item.  Use a link to avoid
				needless repetition of information.
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nx:basicComponent">
				<xs:attribute name="target" use="required" type="nx:validTargetName">
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							A link to another item, represented as an
							absolute path to an existing field such as
							<code>/NXentry/NXinstrument/NXdetector/polar_angle</code>.
							Could contain these elements:
							<itemizedlist>
								<listitem><para><code>doc</code></para></listitem>
							</itemizedlist>
							Matching regular expression:
							<programlisting language="c"><code>(/[a-zA-Z_][\w_]*(:[a-zA-Z_][\w_]*)?)+</code></programlisting>
						</xs:documentation>
					</xs:annotation>					
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="docType" mixed="true">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				NXDL allows for documentation on most elements using the <code>doc</code>
				element. The documentation is useful in several contexts. The documentation will be
				rendered in the manual. Documentation, is provided as tooltips 
				by some XML editors when editing NXDL files.
				Simple documentation can be typed directly in the NXDL: <example>
					<title>simple documentation in NXDL</title>
					<programlisting language="xml" linenumbering="numbered"
>&lt;field name="name">
	&lt;doc>Descriptive name of sample&lt;/doc>
&lt;/field>					</programlisting>
				</example> This is suitable for basic descriptions that do not need extra formatting
				such as a bullet-list or a table. For more advanced control, DocBook elements are
				allowed, such as the <code>NXdetector</code> specification.
				Refer to examples in the NeXus base class NXDL files such as <code>NXdata</code>.
				Be sure to use the DocBook namespace if the documentation will use any DocBook formatting elements:
				<code>xmlns="http://docbook.org/ns/docbook"</code>
				Could contain these elements:
				<itemizedlist>
					<listitem><para><emphasis>any</emphasis></para></listitem>
				</itemizedlist>
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax">
				<!-- TODO Can we make the default namespace be DocBook's? -->
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="symbolsType" mixed="true">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				Each <code>symbol</code> has a <code>name</code> and optional documentation.
				Please provide documentation that indicates what each symbol represents.
				For example:
				<programlisting language="xml" linenumbering="numbered"
><code>&lt;symbols>
    &lt;symbol name="nsurf">&lt;doc>number of reflecting surfaces&lt;/doc>&lt;/symbol>
    &lt;symbol name="nwl">&lt;doc>number of wavelengths&lt;/doc>&lt;/symbol>
&lt;/symbols></code></programlisting>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Describe the purpose of this list of <code>symbols</code>. 
						This documentation will go into the manual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="symbol" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						When multiple <code>field</code>s share the same dimensions, such as the dimension scales
						associated with plottable data in an <code>NXdata</code> group, the length of each
						dimension written in a NeXus data file should be something that can be tested by the 
						data file validation process.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation xmlns="http://docbook.org/ns/docbook">
									Describe the purpose of this <code>symbol</code>. 
									This documentation will go into the manual.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="name" type="nx:validItemName">
						<xs:annotation>
							<xs:documentation>
								Mnemonic variable name for this array index symbol.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="enumerationType">
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				An <code>enumeration</code> restricts the values allowed for a specification.
				Each value is specified using an <code>item</code> element, such as:
				<code>&lt;item value="Synchrotron X-ray Source" /&gt;</code>.
				Could contain these elements:
				<itemizedlist>
					<listitem><para><code>doc</code></para></listitem>
					<listitem><para><code>item</code></para></listitem>
				</itemizedlist>
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
				<programlisting language="c"
><code>&lt;field name="mode">
	&lt;doc>source operating mode&lt;/doc>
	&lt;enumeration>
		&lt;item value="Single Bunch">&lt;doc>for storage rings&lt;/doc>&lt;/item>
		&lt;item value="Multi Bunch">&lt;doc>for storage rings&lt;/doc>&lt;/item>
		&lt;!-- other sources could add to this --&gt;
	&lt;/enumeration>
	&lt;/field></code></programlisting>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						One of the prescribed values.  Use the <code>value</code> attribute.
					</xs:documentation>
				</xs:annotation>				
				<xs:complexType>
					<xs:annotation>
						<xs:documentation xmlns="http://docbook.org/ns/docbook">
							Defines the value of one selection for an <code>enumeration</code> list.
							Each enumerated item must have a value (it cannot have an empty text node).
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation xmlns="http://docbook.org/ns/docbook">
									Individual <code>item</code>s can be documented 
									but this documentation will not be printed in the 
									<emphasis>NeXus Reference Guide</emphasis>.
									When DocBook markup is used,
									be sure to use the provided DocBook namespace prefix 
									(<code>db:</code>) for any DocBook elements,
									such as this example:
									<programlisting language="xml"><code
			>&lt;doc&gt;&lt;db:para&gt;this is documentation with DocBook markup&lt;/db:para&gt;&lt;/doc&gt;</code
										></programlisting>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="value" use="required">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								The value of <code>value</code> of an <code>enumItem</code>
								is defined as an attribute rather than a name.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="dimensionsType">
		<!-- 
			see TRAC ticket #32: http://trac.nexusformat.org/definitions/ticket/32 
		-->
		<xs:annotation>
			<xs:documentation xmlns="http://docbook.org/ns/docbook">
				dimensions of a data element in a NeXus file
				(This data type is used internally in the NXDL schema 
				to define elements and attributes to be used by users in NXDL specifications.)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Documentation might be necessary to describe how the parts
						of the <code>dimensions</code> element are to be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dim" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xmlns="http://docbook.org/ns/docbook">
						Specify the parameters for each index of the <code>dimensions</code>
						element with a <code>dim</code> element.
						The number of <code>dim</code> entries should be equal to 
						the <code>rank</code> of the array.
						For example, these terms 
						describe a 2-D array with lengths (<code>nsurf</code>, <code>nwl</code>):
						<programlisting language="c"
><code>&lt;dimensions rank="2">
    &lt;dim index="1" value="nsurf"/>
    &lt;dim index="2" value="nwl"/>
    &lt;/dimensions></code></programlisting>
						The <code>value</code> attribute is used by NXDL and also by
						the NeXus data file validation tools to associate and coordinate the 
						same array length across multiple fields in a group.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="index" type="nx:NX_INT" use="required">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								Number indicating which axis (subscript) is 
								being described, ranging from 1 up to <code>rank</code> (rank of the 
								data structure).  For example, given an array 
								<code>A[i,j,k]</code>, 
								<code>index="1"</code> would refer to the <code>i</code> axis (subscript).
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="value" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								Integer length (number of values), or mnemonic symbol 
								representing the length of this axis.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ref" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								The dimension specification is the same as 
								that in the <code>ref</code> field, specified either by a relative path, 
								such as <code>polar_angle</code> or <code>../Qvec</code> or absolute path, such as
								<code>/entry/path/to/follow/to/ref/field</code>.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="refindex" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								The dimension specification is the same as 
								the <code>refindex</code> axis within the <code>ref</code> field.
								Requires <code>ref</code> attribute to be present.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="incr" type="nx:NX_CHAR">
						<xs:annotation>
							<xs:documentation xmlns="http://docbook.org/ns/docbook">
								The dimension specification is related to
								the <code>refindex</code> axis within the <code>ref</code> field by an 
								offset of <code>incr</code>.  Requires <code>ref</code> and <code>refindex</code>
								attributes to be present.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rank" type="nx:NX_CHAR">
			<xs:annotation>
				<xs:documentation xmlns="http://docbook.org/ns/docbook">
					Rank (number of dimensions) of the data structure.  
					For example: <code>a[5]</code> has <code>rank="1"</code> while 
					<code>b[8,5,6,4]</code> has <code>rank="4"</code>.  
					See <uri>http://en.wikipedia.org/wiki/Rank_(computer_programming)</uri> 
					for more details.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
</xs:schema>
