schema/NXentry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://definition.nexusformat.org/schema/1.0" 
	xmlns:nx="http://definition.nexusformat.org/schema/1.0"
	elementFormDefault="qualified">

   <xs:include schemaLocation="NeXus.xsd" />

   <xs:include schemaLocation="NXsample.xsd" />
   <xs:include schemaLocation="NXdata.xsd" />
   <xs:include schemaLocation="NXprocess.xsd" />
   <xs:include schemaLocation="NXnote.xsd" />
	
	<xs:complexType name="NXentryType">
	<xs:complexContent>
	 <xs:extension base="nx:classBaseType">
	   <xs:choice minOccurs="0" maxOccurs="unbounded">
	     <xs:element type="nx:charDataType" name="title" />
	     <xs:element type="nx:charDataType" name="definition" />
	     <xs:element type="nx:ISO8601DataType" name="start_time" />
	     <xs:element type="nx:NXsampleType" name="NXsample" />
	     <xs:element type="nx:NXdataType" name="NXdata" />
	     <xs:element type="nx:NXprocessType" name="NXprocess"   />	
	   </xs:choice>
	 </xs:extension>
	</xs:complexContent>
	</xs:complexType>

</xs:schema>
