schema/NXentry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://svn.nexusformat.org/definitions/tags/1.0/schema" 
	xmlns:nx="http://svn.nexusformat.org/definitions/tags/1.0/schema"
	elementFormDefault="qualified">

   <xs:include schemaLocation="NeXus.xsd" />

   <xs:include schemaLocation="NXsample.xsd" />

	<xs:complexType name="NXentryType">
	<xs:complexContent>
	 <xs:extension base="nx:classBaseType">
	   <xs:all>
	     <xs:element type="nx:charDataType" name="title" minOccurs="0" />
	     <xs:element type="nx:ISO8601DataType" name="start_time" minOccurs="0" />
	     <xs:element type="nx:NXsampleType" name="NXsample" minOccurs="0" />
	   </xs:all>
	 </xs:extension>
	</xs:complexContent>
	</xs:complexType>

</xs:schema>
