schema/NXmonopd_ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
##########################################################
######	 This xsd file was auto-generated from      ######
######	 an NXDL file by an XSLT transformation.    ######
######	 Do NOT edit this XML Schema file.          ######
##########################################################
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxdl="http://definition.nexusformat.org/nxdl/3.1" xmlns:nxsd="http://definition.nexusformat.org/schema/3.1" nxdl:xslt_name="nxdl2xsd.xsl" nxdl:xslt_id="$Id: nxdl2xsd.xsl 355 2009-08-11 17:42:29Z Freddie Akeroyd $" targetNamespace="http://definition.nexusformat.org/schema/3.1" elementFormDefault="qualified" nxsd:something="1">
  <xs:annotation>
    <xs:documentation>
# NeXus - Neutron, X-ray, and Muon Science Common Data Format
# 
# Copyright (C) 2008 NeXus International Advisory Committee (NIAC)
# 
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
# For further information, see http://www.nexusformat.org
                </xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="NXentry.xsd">
<!--+++++ definition declaration: NXmonopd +++++-->
    <xs:annotation>
      <xs:documentation>NXDL "NXmonopd" extends the NXentry class</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:import schemaLocation="../nxdlTypes.xsd" namespace="http://definition.nexusformat.org/nxdl/3.1">
    <xs:annotation>
      <xs:documentation>Definitions of the basic data types and unit types allowed in NXDL instance files.</xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:include schemaLocation="../NeXus.xsd">
    <xs:annotation>
      <xs:documentation>Definitions of the basic data types and unit types allowed in NXDL instance files.</xs:documentation>
    </xs:annotation>
  </xs:include>
<!--+++++ other objects used by this NXDL +++++-->
  <xs:include schemaLocation="NXcrystal.xsd">
    <xs:annotation>
      <xs:documentation>type="NXcrystal" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:include schemaLocation="NXdata.xsd">
    <xs:annotation>
      <xs:documentation>type="NXdata" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:include schemaLocation="NXdetector.xsd">
    <xs:annotation>
      <xs:documentation>type="NXdetector" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:include schemaLocation="NXinstrument.xsd">
    <xs:annotation>
      <xs:documentation>type="NXinstrument" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:include schemaLocation="NXmonitor.xsd">
    <xs:annotation>
      <xs:documentation>type="NXmonitor" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:include schemaLocation="NXsample.xsd">
    <xs:annotation>
      <xs:documentation>type="NXsample" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
  <xs:include schemaLocation="NXsource.xsd">
    <xs:annotation>
      <xs:documentation>type="NXsource" from a group element in the NXDL</xs:documentation>
    </xs:annotation>
  </xs:include>
<!--+++++ declarations (attributes, docs, groups, and fields) +++++-->
  <xs:complexType name="NXmonopd">
    <xs:complexContent>
      <xs:restriction base="nxsd:NXentry">
        <xs:sequence>
<!--+++++ group declaration +++++-->
          <xs:element name="NXdata" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXdata object -->
            <xs:complexType>
              <xs:complexContent>
                <xs:restriction base="nxsd:NXdata">
                  <xs:sequence>
                    <xs:element name="polar_angle" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: polar_angle +++++-->
                      <xs:annotation>
                        <xs:documentation>Link to polar angle in /NXentry/NXinstrument/NXdetector, ndp = number of detectors or data points</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="nxdl:NX_FLOAT"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="data" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: data +++++-->
                      <xs:annotation>
                        <xs:documentation>Link to data in /NXentry/NXinstrument/NXdetector</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="nxdl:NX_INT"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:restriction>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
<!--+++++ group declaration +++++-->
          <xs:element name="NXinstrument" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXinstrument object -->
            <xs:complexType>
              <xs:complexContent>
                <xs:restriction base="nxsd:NXinstrument">
                  <xs:sequence>
<!--+++++ group declaration +++++-->
                    <xs:element name="NXsource" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXsource object -->
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:restriction base="nxsd:NXsource">
                            <xs:sequence>
                              <xs:element name="type" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: type +++++-->
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="nxdl:NX_CHAR"/>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="name" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: name +++++-->
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="nxdl:NX_CHAR"/>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="probe" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: probe +++++-->
                                <xs:simpleType>
                                  <xs:restriction base="nxdl:NX_CHAR">
                                    <xs:enumeration value="neutron"/>
                                    <xs:enumeration value="x-ray"/>
                                    <xs:enumeration value="electron"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:sequence>
                          </xs:restriction>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
<!--+++++ group declaration +++++-->
                    <xs:element name="NXcrystal" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXcrystal object -->
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:restriction base="nxsd:NXcrystal">
                            <xs:sequence>
                              <xs:element name="wavelength" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: wavelength +++++-->
                                <xs:annotation>
                                  <xs:documentation>Optimum diffracted wavelength</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="nxdl:NX_FLOAT"/>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:restriction>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
<!--+++++ group declaration +++++-->
                    <xs:element name="NXdetector" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXdetector object -->
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:restriction base="nxsd:NXdetector">
                            <xs:sequence>
                              <xs:element name="polar_angle" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: polar_angle +++++-->
                                <xs:annotation>
                                  <xs:documentation>where ndet = number of detectors</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="nxdl:NX_FLOAT"/>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="data" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: data +++++-->
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="nxdl:NX_INT"/>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:restriction>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:restriction>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
<!--+++++ group declaration +++++-->
          <xs:element name="NXmonitor" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXmonitor object -->
            <xs:complexType>
              <xs:complexContent>
                <xs:restriction base="nxsd:NXmonitor">
                  <xs:sequence>
                    <xs:element name="mode" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: mode +++++-->
                      <xs:annotation>
                        <xs:documentation>Count to a preset value based on either clock time (timer) or received monitor
                    counts (monitor).</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="nxdl:NX_CHAR">
                          <xs:enumeration value="monitor"/>
                          <xs:enumeration value="timer"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="preset" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: preset +++++-->
                      <xs:annotation>
                        <xs:documentation>preset value for time or monitor</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="nxdl:NX_FLOAT"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="integral" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: integral +++++-->
                      <xs:annotation>
                        <xs:documentation>Total integral monitor counts</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="nxdl:NX_FLOAT"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:restriction>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
<!--+++++ group declaration +++++-->
          <xs:element name="NXsample" minOccurs="0" maxOccurs="unbounded">
<!-- this is part of an NXsample object -->
            <xs:complexType>
              <xs:complexContent>
                <xs:restriction base="nxsd:NXsample">
                  <xs:sequence>
                    <xs:element name="name" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: name +++++-->
                      <xs:annotation>
                        <xs:documentation>Descriptive name of sample</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="nxdl:NX_CHAR"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rotation_angle" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: rotation_angle +++++-->
                      <xs:annotation>
                        <xs:documentation> Optional rotation angle for the case when the powder diagram has been obtained
                    through an omega-2theta scan like from a traditional single detector powder
                    diffractometer </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="nxdl:NX_FLOAT"/>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:restriction>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="definition" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: definition +++++-->
            <xs:annotation>
              <xs:documentation>Official NeXus DTD or NXDL schema to which this file conforms</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="nxdl:NX_CHAR">
                <xs:enumeration value="NXmonopd"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="end_time" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: end_time +++++-->
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="nxdl:NX_DATE_TIME"/>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="start_time" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: start_time +++++-->
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="nxdl:NX_DATE_TIME"/>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="title" minOccurs="0" maxOccurs="1">
<!--+++++ field declaration: title +++++-->
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="nxdl:NX_CHAR"/>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
