base_classes/nxdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
# NeXus - Neutron and X-ray Common Data Format
# 
# Copyright (C) 2008 NeXus International Advisory Committee (NIAC)
# 
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
# For further information, see http://www.nexusformat.org

########### SVN repository information ###################
# $LastChangedDate$
# $LastChangedBy$
# $LastChangedRevision$
# $HeadURL$
########### SVN repository information ###################
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.nexusformat.org"
	xmlns:nx="http://www.nexusformat.org"
	elementFormDefault="qualified">

	<xs:annotation>
		<xs:documentation>$Id$</xs:documentation>
	</xs:annotation>
	
	<!-- define the document root element -->
	<xs:element name="definition" type="nx:definitionType" />

	<xs:complexType name="definitionType">
		<xs:group ref="nx:groupGroup" minOccurs="0" maxOccurs="unbounded" />
		<xs:attribute name="name" use="required" />
		<xs:attribute name="type" use="required" type="nx:definitionTypeAttr" />
		<xs:attribute name="extends" use="required" />
	</xs:complexType>

	<xs:complexType name="attributeType">
		<xs:annotation>
			<xs:documentation>
				A new element may expect or require some attributes.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" />
			<xs:element name="enumeration" type="nx:enumerationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The field can have an enumeration of values</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" />
		<xs:attribute name="type" type="nx:primitiveType" default="NX_CHAR"/>
	</xs:complexType>

	<xs:simpleType name="definitionTypeAttr">
		<xs:restriction base="xs:string">
			<xs:enumeration value="group" />
			<xs:enumeration value="definition" />
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="groupGroup">
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="attribute" type="nx:attributeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="group" type="nx:groupType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="field" type="nx:fieldType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:group>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:complexType name="basicComponent">
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" use="required" />
	</xs:complexType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<xs:simpleType name="docType">
		<xs:annotation>
			<xs:documentation>
				This is the basic definition of a new type.
				Components must derive from an existing type 
				and optionally provide documentation.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:complexType name="groupType">
		<xs:annotation>
			<xs:documentation>
				A group element will be used to refer to an existing NX object or locally-defined component.
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="nx:groupGroup" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="NX.+"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="minOccurs" use="optional" default="0" type="xs:nonNegativeInteger"/>
		<xs:attribute name="maxOccurs" use="optional"  default="unlimited"/>
		<xs:attribute name="name" use="optional" />
	</xs:complexType>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<xs:simpleType name="dimsType">
		<xs:list itemType="xs:string" />
	</xs:simpleType>

	<xs:complexType name="fieldType">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>A field element will be used to declare a new element in the component being defined.</xs:documentation>
			</xs:annotation>
			<xs:extension base="nx:basicComponent">
				<xs:sequence>
					<xs:element name="dimensions" type="nx:dimsType"
						minOccurs="0" />
					<xs:element name="attribute" type="nx:attributeType"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>attributes of field</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enumeration" type="nx:enumerationType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The field can have an enumeration of values</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="units" type="nx:anyUnitsAttr">
					<xs:annotation>
						<xs:documentation>
							String describing the engineering units.
							The string should be appropriate for the value
							and should conform to the NeXus rules for units.
							Can conformance be validated or ensured?
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="nx:primitiveType" default="NX_CHAR"/>
				<xs:attribute name="minOccurs" use="optional" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="maxOccurs" use="optional"  default="1">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="enumerationType">
		<xs:sequence>
			<xs:element name="item" type="nx:enumItemType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="enumItemType">
		<xs:sequence>
			<xs:element name="doc" type="nx:docType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="value" use="required"/>
	</xs:complexType>

	<xs:simpleType name="anyUnitsAttr">
		<xs:annotation>
			<xs:documentation>any string at all: should be valid units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NX_ANGLE"><xs:annotation><xs:documentation>example: degrees or radians or arcminutes or</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_ANY"><xs:annotation><xs:documentation>usage: things like logs that aren't picky on units</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_ATOM_DISTANCE"><xs:annotation><xs:documentation>example: Angstrom</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_ATOMIC_VOLUME"><xs:annotation><xs:documentation>example: Angstrom3</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_CROSS_SECTION"><xs:annotation><xs:documentation>example: barns</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_CURRENT"><xs:annotation><xs:documentation>example: A</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_DIMENSIONLESS"><xs:annotation><xs:documentation>example: "" or mm/mm</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_ENERGY"><xs:annotation><xs:documentation>example: J or keV</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_FLUX"><xs:annotation><xs:documentation>example: s-1 cm-2</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_FREQUENCY"><xs:annotation><xs:documentation>example: Hz</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_LENGTH"><xs:annotation><xs:documentation>example: m</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_MASS"><xs:annotation><xs:documentation>example: g</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_MASS_DENSITY"><xs:annotation><xs:documentation>example: g cm-3</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_MOLECULAR_WEIGHT"><xs:annotation><xs:documentation>example: g mol-1</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_PER_AREA"><xs:annotation><xs:documentation>example: cm-2</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_PERIOD"><xs:annotation><xs:documentation>(alias to NX_TIME) period of pulsed source, example: microseconds</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_POWER"><xs:annotation><xs:documentation>example: W</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_PRESSURE"><xs:annotation><xs:documentation>example: Pa</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_PULSES"><xs:annotation><xs:documentation>(alias to NX_NUMBER) clock pulses</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_SCATTERING_LENGTH_DENSITY"><xs:annotation><xs:documentation>example: cm-2</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_SOLID_ANGLE"><xs:annotation><xs:documentation>example: sr | steradian</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_TEMPERATURE"><xs:annotation><xs:documentation>example: K</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_TIME"><xs:annotation><xs:documentation>example: s</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_TIME_OF_FLIGHT"><xs:annotation><xs:documentation>(alias to NX_TIME) example: s</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_VOLTAGE"><xs:annotation><xs:documentation>example: V</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_WAVELENGTH"><xs:annotation><xs:documentation>example: Angstrom</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="NX_WAVENUMBER"><xs:annotation><xs:documentation>units for Q, example: Angstrom-1 or nm-1</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

           <xs:simpleType name="primitiveType">
           	<xs:annotation>
           		<xs:documentation>Valid names for the type attribute on fields and attributes.</xs:documentation>
           	</xs:annotation>
           	<xs:restriction base="xs:string">
           		<xs:enumeration value="NX_FLOAT">
           		<xs:annotation>
           			<xs:documentation>Fields of this type can be floating point numbers.</xs:documentation>
           		</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_INT">
           		<xs:annotation>
           			<xs:documentation>Fields of this type can be signed integers.</xs:documentation>
           		</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_UINT">
           		<xs:annotation>
           			<xs:documentation>Fields of this type can be unsigned integers.</xs:documentation>
           		</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_NUMBER">
           			<xs:annotation>
           				<xs:documentation>Fields of this type can be signed integers, unsigned integers, or floating point numbers.</xs:documentation>
           			</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_CHAR">
           			<xs:annotation>
           				<xs:documentation>Fields with this type are strings.</xs:documentation>
           			</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_BOOLEAN">
           			<xs:annotation>
           				<xs:documentation>Fields with this type are boolean.</xs:documentation>
           			</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_DATE_TIME">
           			<xs:annotation>
           				<xs:documentation>Fields with this type should be ISO8601 compliant.</xs:documentation>
           			</xs:annotation>
           		</xs:enumeration>
           		<xs:enumeration value="NX_BINARY">
           			<xs:annotation>
           				<xs:documentation>Fields of this type can be binary data. (always a uint8)</xs:documentation>
           			</xs:annotation>
           		</xs:enumeration>
           	</xs:restriction>
           </xs:simpleType>
</xs:schema>